<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="TRSDbServer" connectionString="Server=10.157.107.11:50000;Database=PWCTest;UID=db2admin;PWD=Jzbank1234" />

  </connectionStrings>
</configuration>