<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="TRSDbServer" connectionString="Server=10.157.107.11:50000;Database=PWCTest;UID=db2admin;PWD=Jzbank1234" />

    <add name="UsermanagedbRead" connectionString="server=127.0.0.1;database=Usermanagedb;charset=utf8;uid=root;pwd=root" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>