<!DOCTYPE html>
<html>

<head lang="zh-CN">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/bootstrap3.3.5/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap3.3.5/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/css/layout/layout.css" rel="stylesheet" />
    <link href="~/Content/css/layout/menu.css" rel="stylesheet" />
    <link href="~/Content/css/common/comon-control.css" rel="stylesheet" />
    <link href="~/Content/layer/skin/default/layer.css" rel="stylesheet" />

    @RenderSection("headSection", false)
</head>
<body>

    <div id="body-container">
        <div id="body-header">This is the Header</div>
        <div id="body-mainContent">
            <div id="body-sidebar">
                <div id="menu">
                    <ul>
                        <li>
                            <a href="#" class="first-menu">工具</a>
                            <dl>
                                <dd><a href="/DBCreater/SQLGenerator">生成SQL</a></dd>
                                @*<dd><a href="/DBCreater/ShowDataBaseInfo">数据库信息显示</a></dd>*@
                                <dd><a href="/RoleInfo/Index">角色管理</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="body-content">
                @RenderBody()
            </div>
        </div>
    </div>

    @*<script src="~/Scripts/common/jquery.min.js"></script>
        <script src="~/Scripts/common/jquery.jsRender.min.js"></script>
        <script src="~/Scripts/common/jquery.plugin.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/common/moment.js"></script>
        <script src="~/Scripts/common/sea.js"></script>
        <script src="~/Scripts/common/underscore.js"></script>
        <script src="~/Content/layer/layer.js"></script>
        <script src="~/Content/bootstrap3.3.5/js/bootstrap.js"></script>*@
    <script src="~/Scripts/common/jquery.min.js"></script>
    <script src="~/Scripts/common/sea.js"></script>
    <script type="text/javascript">
        seajs.config({

            // 解析顶级域名
            base: "/",

            // 别名
            alias:
            {
                "jquery": "/Scripts/common/jquery.min.js",
                "jsRender": "/Scripts/common/jquery.jsRender.min.js",
                "underscore": "/Scripts/common/underscore.js",
                "bootstrap": "/Content/bootstrap3.3.5/js/bootstrap.js",
                "layer": "/Content/layer/layer.js",
                "jqueryPlugin": "/Scripts/common/jquery.plugin.js",
                "moment": "/Scripts/common/moment.js"
            },

            // 预加载
            preload: ["jquery", "underscore", "bootstrap", "layer", "jsRender", "jqueryPlugin", "moment"],
        });

        // 页面加载模块
        seajs.use(["jquery", "underscore", "bootstrap", "layer", "jsRender", "jqueryPlugin", "moment"], function () {
            console.log('layout页面js加载完成');
        });

    </script>

    @RenderSection("scripts", false)
</body>
</html>
